# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environments
.env
.venv
env/
venv/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
